.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ececec;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
}
.hr {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .container {
    margin: 0px auto;
  }
}
