.myBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 4px -5px 8px 0px rgba(34, 60, 80, 0.2);
}
.primary {
  background-color: #007bff;
  color: white;
  &:hover {
    background-color: #0367d3;
  }
}
.secondary {
  background-color: #6c757d;
  color: white;
  &:hover {
    background-color: #5c646b;
  }
}
.success {
  background-color: #28a745;
  color: white;
  &:hover {
    background-color: #1e7d34;
  }
}
.danger {
  background-color: #dc3545;
  color: white;
  &:hover {
    background-color: #9e232f;
  }
}
